@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway');

html {
    font-family: 'Montserrat', 'Proxima Nova', sans-serif !important;
}

body {
    font-family: 'Montserrat', 'Proxima Nova', sans-serif !important;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', 'Proxima Nova', sans-serif !important;
    margin: 0;
    padding: 0;
}

.map-canvas {
    height: 100px;
    width: 100px;
    margin: 0px;
    display: block;
    float: right;
}

.mar10top { margin-top: 10px; }

.pad10bot { padding-bottom: 10px; }

.ts {  text-shadow: 1px 1px 5px #444; }

.black { color: #000; }

#location {
    padding: 15px 0;
    line-height: 20px;
}

.navbar { margin-bottom: 0 !important; }

#index {
    h1.huge {
        font-weight: bold;
        font-size: 3.5em !important;
    }

    p {
        color: #666666;
    }

    .intro {
        padding: 200px 0;
        background-color: #3498db;
        color: #f8f8f8 !important;
    }

    .tweetwrapper {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;

        .tweet {
        }
    }

    .removeWhiteSpace {
        white-space: normal !important;
    }

    .avatar {
        width: 73px;
        float: left;
        margin-right: 10px;
    }
}

footer {
    text-align: center;
    margin-top: 20px;
}